<!doctype html>
<html ng-app="runcode">
<head>
<title>Interactive Python Tutorial</title>
<link rel="icon" type="image/png" href="img/python-powered-h-50x65.png">
<link rel="stylesheet" href="css/code.css">
<link rel="stylesheet" href="js/angular/angular-ui.min.css">
<link rel="stylesheet" href="js/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="js/codemirror/theme/neat.css">
<!-- Start PyPy.js
     These might not be found, so we adapt elsewhere to this being optional.
     If it isn't there, it assumes it needs to talk to a server to run code. -->
<script src="js/pypyjs/pypy-nojit.js-0.3.1/lib/Promise.min.js"></script>
<script src="js/pypyjs/pypy-nojit.js-0.3.1/lib/FunctionPromise.js"></script>
<script src="js/pypyjs/pypy-nojit.js-0.3.1/lib/pypy.js"></script>
<!-- End PyPy.js -->
<script src="js/jquery/jquery-1.8.2.min.js"></script>
<script src="js/codemirror/lib/codemirror.js"></script>
<script src="js/codemirror/mode/python/python.js"></script>
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-sanitize.min.js"></script>
<script src="js/angular/angular-ui.min.js"></script>
<!-- Start project includes -->
<script src="js/app.js"></script>
<script src="js/filters.js"></script>
<script src="js/controllers.js"></script>
<!-- End project includes -->
</head>
<body ng-controller="CodeCtrl">
<div id="content_container" ng-class="{'collapsed': contentCollapsed}">
  <div id="toc-trigger">
    <a href="http://python.org/doc/" target="pydocs">Python Docs</a>
  </div>
  <div id="content-header">
    <h1>Interactive Python Tutorial <span class="toc" ng-click="tocShowing = !tocShowing">&#x25bc;</span></h1>
    <div id="collapser" ng-click="contentCollapsed=true">&gt;&gt;</div>
    <div id="chapter-num">
      <a class="nav" ng-class="{'hidden': chapter <= 1}" href="#/{{prevChapter()}}">&#x25c0;</a>{{chapter}}<a class="nav" ng-class="{'hidden': chapter >= tutorials.length }" href="#/{{nextChapter()}}">&#x25b6;</a>
    </div>
  </div>
  <div id="toc" class="content" ng-show="tocShowing">
    <div id="toc-content" class="information">
      <ol>
        <li ng-repeat="t in tutorials"><a href="#/{{t.index + 1}}">{{t.title}}</a></li>
      </ol>
    </div>
  </div>
  <div id="slide" class="content" ng-show="!tocShowing">
    <div id="instructions" class="information">
      <h1>{{tutorial.title}}</h1>
      <div ng-bind-html="tutorial.description | linky | paragraphs"></div>
    </div>
    <div id="tutorial_nav">
      <a class="nav" ng-class="{'hidden': chapter <= 1}" href="#/{{prevChapter()}}">&#x25c0;</a>{{chapter}}<a class="nav" ng-class="{'hidden': chapter >= tutorials.length }" href="#/{{nextChapter()}}">&#x25b6;</a>
    </div>
  </div>
</div>
<div id="expansion_grabber" ng-class="{'expandable': contentCollapsed}" ng-click="contentCollapsed=false">&lt;&lt;
  <span class="chapter">{{chapter}}</span>
</div>
<div id="workspace" ng-class="{'fill': contentCollapsed}">
  <div id="workspace_actions" class="actions" ng-class="{'expanded': isExpanded}">
    <div>
      <a id="run" class="button" ng-class="{'hidden': !vmLoaded}" ng-click="runCode(code)" ng-bind-html="vmLoaded | iif : 'RUN' : '......'"></a><a id="more" class="button" ng-click="isExpanded = !isExpanded" ng-class="{'highlight': dirty()}">&#x25bc;</a>
    </div>
    <ul ng-click="isExpanded=false" class="more">
      <li ng-click="clearOutput()">Clear Output Window</li>
      <li ng-click="clearCode()">Clear Code Window</li>
      <li><hr></li>
      <li ng-click="revertCode()" ng-class="{'highlight': dirty()}">Restore Slide Code</li>
      <li ng-click="revertAll()" ng-class="{'highlight': dirty()}">Restore ALL Slides</li>
    </ul>
  </div>
  <div id="workspace_top">
    <textarea name="codetext" ui-codemirror="{lineNumbers: true, theme: 'neat', indentWithTabs: false, tabSize: 2, indentUnit: 2, extraKeys: {Tab: 'indentMore', 'Shift-Enter': doNothing } }" ng-model="code"></textarea>
  </div>
  <div id="workspace_bottom">
    <div id="output">
      <pre class="stdout">{{out}}</pre>
      <pre class="stderr">{{err}}</pre>
    </div>
  </div>
</div>
</body>
</html>
